.container-fluid {
	padding: 40px 15px;
	margin: 0;
	width:100%;
}

.header {
	text-align: center;
}

.header-mail{
	background: linear-gradient(10deg, #566bb2, #4660b9);
	color: white;
	margin: 0;
}

.header-mail h1{
	margin: 0 20px 0;
	padding: 20px 0 15px 0;
}

.header h1 {
	font-size: 42px;
	padding: 10px 0;
	text-align: center;
	float:none

}

.header h2 {
	font-size: 31px;
	padding: 10px 0;
}

.msg {
	margin: 10px 0;
	padding: 7px;
	border-bottom: 1px dotted grey;
}

.msg p {
	font-size: 18px;
}

.login-block {
	background: linear-gradient(10deg, #566bb2, #4660b9);
	padding: 30px 0;
	color: #f1eaf7;
	margin-bottom: 0;
}

.login-status {
	padding: 15px;
	border-radius: 5px;
	margin: 20px;
	text-align: center;
}

.login-center {
	display: block;
	margin: 0 auto;
	float: none;
}
.mail_button{
	text-align: center;

}
.img-responsive{
	display: block;
	margin: 0 auto;
	width: 600px;
	height: 350px;
	float:none;
}

.prem{
	font-size: 27px;
	text-align: center
}
.row{
	margin-left: 0;
}
.footer {
	text-align: center;
}
